<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML >
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript" src="../jquery.js"></script>
        <script type="text/javascript" src="../gt.js"></script>
        <script type="text/javascript" src="../popup_js.js"></script>
        <style type="text/css">
            .menu
            {
                float:right;
                width:110px;
                height:20px;
                text-align: right;
                margin-right: 10px;
                direction: rtl;
            }
            .content-label
            {
                float:right;              
                font:15px Arial, Helvetica, sans-serif;
                color:#333;
                text-align:right;
                direction:rtl;
            }
        </style>
    </head>
    <body style="padding: 0;margin:0;background: #f3f3f3; border-radius:5px;-webkit-border-radius: 5px;">
        <div style="width: 275px;min-height:100px; margin: 0 auto">
            <img src="../images/logo.png" style="float: right;margin-right: 10px;margin-bottom: 5px;margin-top: 5px;"/>

            <textarea cols="46" rows="3" id="textHolder" style="width: 260px;border: 1px solid #cecece;border-radius:5px;margin: 0 auto; margin-left: 7.5px;height: 97px;float: left;" ></textarea>
            <div style="float: left;width: 260px;margin-left: 7.5px;margin-top: 10px; margin-bottom: 5px;">
                <label class="content-label">ترجم إلى</label>
                <select name="" class="menu" onchange="POPUP.setLang(this.value);">
                    <option id="radio_ar" value="ar">العربية</option>
                    <option id="radio_en" value="en">الانجليزيه</option>
                </select>
                <input type="button" value="translate" id="translateButton"/>
            </div>
            <div id="translation" style="float: left;font: normal normal normal 15px/1.5 Verdana, Arial, Helvetica, sans-serif;margin-top: 5px; margin-bottom: 5px;min-height: 97px;background: #fff;direction: rtl; border: 1px solid #ccc;-webkit-border-radius: 5px;padding: 5px;width: 250px;margin-left: 7.5px;"></div>
            <div id="error"></div>
            <a style="cursor: pointer;" id="optionpageLink"><img src="../images/option.png" style="float: left;margin-left: 7.5px;margin-top: 5px;padding-bottom: 5px;"/></a>
        </div>
    </body>
</html>
